<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>SG58 View Photos</title>
  <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='style.css') }}">
</head>
<body>
  {% for pic in pics %}
    <img src="{{ url_for('get_file', filename=pic) }}" alt="{{ pic }}">
  {% endfor %}
  <p><a href="{{ url_for('home') }}">Home</a></p>
</body>
</html>